<% if logged_in? %>

  <div class="jumbotron" id="jumbologin">
    <h4 style="font-size: 25px">Tu veux toujours connaitre La Réponse<br> à la Question sur le Secret de l'Univers ?</h4>
    <p>Alors clic sur le lien <i>ci-dessous</i> et prepare toi...</p>

  <%= link_to 'Révèle moi le Secret', secret_path, :class => "btn btn-lg btn-primary btn-md", id: "secret", :method => :get %>
  </div>
<%else %>
  <div class="jumbotron" id="jumbologout">
    Si toi aussi tu veux connaitre LA réponse à la Question sur le Secret de l'Univers,<br>
    connecte toi en cliquant sur le bouton <b style="color: yellow"><u><i>Log In</i></u></b>
  </div>

<% end %>
