<div id = "home">
  <h1 class="w3-text-orange" class="w3-jumbo" class = w3-section style="text-shadow:1px 1px 0 #444">La réponse à la question secrète de l'univers</h1>

	<p>Tu veux connaître la réponse à la question sur le secret de l'univers ?<br>
  Alors clic sur le lien <i>ci-dessous</i> et prepare toi...</p>

  <%=image_tag("Universe.gif",alt: "Responsive image", alt: "Universe")%>
<br><br>
	<% if logged_in? %>
	   	<%= button_to 'Clique ici', secret_path, :class => "btn btn-lg btn-primary btn-sm", :method => :get %>
	<%else %>
    <%= render 'layouts/footer' %>
	<% end %>
</div>
