
<h1 class="w3-text-orange" class="w3-jumbo" class = w3-section style="text-shadow:1px 1px 0 #444">Index des utilisateurs</h1>
<p>Bienvenue</p>
<% @users.each do |user| %>
<%= user.email %> <br>

<% end %>
