<div class="jumbotron" id="jumboshow">
  <h2>Bienvenue Membre du Secret</h2>
<br>
  <h3>Ton identifiant : </h3>
  <i style="color: #00FFFF" "font-size:10px"><%= @user.email %></i>
  <br><br>
   <% if logged_in? && @user == @current_user %>
    <h4> Edite ton profil pour modifier des identifiants et rendre ton profil encore plus secret :</h4>
   <% end %>

  <%= link_to 'Editer mon profil', edit_user_path(@user), :class => "btn btn-lg btn-outline-sm", id: "create" %>
</div>
