<footer>
  <nav class="navbar navbar-fixed-bottom navbar-expand-sm" id="nav-bot">
    <a class="navbar-brand" href="/">Membres du Secret</a>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="glyphfoot"><span class="glyphicon glyphicon-book"></span> About</a></li>
        <li><a href="#" id="glyphfoot"><span class="glyphicon glyphicon-pencil"></span> Contact</a></li>
    </ul>
  </nav>
</footer>
